@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');


.features-cards-container {
    width: 100%;
    height: auto;
    margin-inline: 8%;
    margin-bottom: 10%;

}

@keyframes appear3 {
    from {
        opacity: 0;
        transform: translateY(200px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}


.features-topic {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 70px;
    padding-left: 13%;
    margin-bottom: 6%;

}

.features-topic h2 {
    font-size: 2.9vw;
    font-family: "Dancing Script", cursive;
    font-weight: 900;
}

.feature-hr {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.arrow-feature1 {
    width: 10vw;
    height: 3px;
    background-color: rgb(124, 122, 122);
    border: none;
    border-radius: 22px;
}

.arrow-feature2 {
    width: 7vw;
    height: 3px;
    background-color: rgb(124, 122, 122);
    border: none;
    margin-left: 12px;
}

.arrow-feature3 {
    width: 10vw;
    height: 3px;
    background-color: rgb(124, 122, 122);
    border: none;
}

.arrow-feature4 {
    width: 7vw;
    height: 3px;
    background-color: rgb(124, 122, 122);
    border: none;
    margin-left: 12px;
}

.feature-card-content-holder {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;


}

.features-card-holder {
    width: 85%;
    height: auto;
    display: flex;
    flex-direction: row;
    background-color: rgb(230, 227, 227);
    position: relative;
    padding-left: 4%;

}

.features-card-content {
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5%;
    gap: 10px;
    column-gap: 35px;
}

.features-card {
    width: 17vw;
    height: 17vw;
    background-color: rgb(255, 255, 255);
    padding-inline: 20px;
    padding: 20px;
}

.features-card img {
    max-width: 100%;
    filter: opacity(0.3) drop-shadow(0 0 0 rgb(255, 223, 117)) drop-shadow(0 0 0 rgb(248, 220, 141)) saturate(1000%);
}

.features-card-im {
    color: rgb(245, 175, 94);
    width: 2.2vw;
    height: 2.2vw;
}

.features-card h3 {
    font-size: 1.3vw;
    color: rgb(41, 40, 40);
}

.features-card p {
    font-size: 0.8vw;
    color: rgb(78, 77, 77);
}

.features-card1 {
    width: 17vw;
    height: 17vw;
    background-color: rgb(90, 89, 89);
    padding-inline: 20px;
    padding: 20px;
}

.features-card1 img {
    max-width: 100%;
    filter: opacity(0.3) drop-shadow(0 0 0 rgb(255, 223, 117)) drop-shadow(0 0 0 rgb(248, 220, 141)) saturate(1000%);
}

.features-card1 h3 {
    font-size: 1.3vw;
    color: rgba(255, 252, 252, 0.938);
}

.features-card1 p {
    font-size: 0.8vw;
    color: rgba(243, 242, 242, 0.904);
}

.features-card-content-right {
    width: 48px;
}

.features-card-content-right img {
    width: 40vw;
    object-fit: cover;
    margin-top: 40%;

}


.features-add-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 10px;
    font-size: 17px;
    width: 20vw;
    height: 4vw;
    background-color: rgb(238, 145, 39);
    position: absolute;
    cursor: pointer;
    bottom: 20%;
    right: 12%;
    clip-path: polygon(0 0, 100% 0, 83% 100%, 21% 100%);
}

.features-add-right:hover {
    color: orange;
}

.features-add-right span {
    font-size: 1.4vw;
}

.arrow-features {
    margin-top: 3px;

}







/*.......... key frames.....*/


@media(max-width : 1115px) {

    .categories-topic-up {
        margin-right: 10%;
    }

}

@media(max-width : 900px) {

    .features-card {
        padding: 5px;
    }

    .features-card1 {
        padding: 5px;
    }

    .features-topic {
        padding-left: 5%;
    }

}


@media(max-width : 700px) {

    .features-card-holder {
        display: flex;
        flex-direction: column-reverse;
        padding-left: 18%;
        padding-top: 5%;
        padding-bottom: 5%;
        gap: 3%;

    }

    .features-add-right {
        right: 43%;
        bottom: 54%;
    }

    .feature-card-content-holder {
        margin-left: 5%;
        margin-top: 7%;
    }

}

@media(max-width : 495px) {
    .features-card {
        padding-bottom: 7px;
        padding-top: 0px;

    }

    .features-card1 {
        padding-bottom: 6px;
        padding-top: 0px;
    }

}

@media(max-width : 409px) {
    .features-card {
        padding-bottom: 12px;
        padding-top: 0px;

    }

    .features-card1 {
        padding-bottom: 12px;
        padding-top: 0px;
    }

}