.welcome-body1 {
    width: 100%;
    height: auto;
    margin-top: 5%;
}

.welcome-body1-header {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-inline: auto;
    padding-top: 8%;
    padding-bottom: 8%;
    align-items: center;
    justify-content: space-between;
}

   


.welcome-body1-image img {
    display: flex;
    flex-basis: 48%;
    max-width: 100%;
    object-fit: contain;
    box-shadow: 2px 3px 3px black;
   
}

.welcome-body1-image img:hover {
    box-shadow: 3px 3px 7px rgba(163, 120, 40, 0.911), -3px -3px 7px rgba(196, 138, 29, 0.87);
}

.welcome-body1-content {
    display: flex;
    flex-direction: column;
    flex-basis: 48%;
 
}

.welcome-body1-content h1 {
    font-size: 3.7vw;
}

.welcome-body1-content p {
    color: rgba(0, 0, 0, 0.767);
    font-size: 1vw;
}

.welcome-body1-button {
    display: flex;
    flex-direction: row;

}

.welcome-body1-button {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
    margin-top: 5%;

}

.welcome-body1-button button {
    width: 15vw;
    height: 6vw;
    font-size: 1.5vw;
    border: none;
    outline: none;
    background-color: rgb(255, 145, 0);
    color: white;
    cursor: pointer;
}


.welcome-body1-button button:hover {
    background-color: rgb(243, 240, 240);
    color: rgb(255, 145, 0);
}






/*.......... key frames.....*/


@media(max-width : 1115px) {

    .welcome-body1-content {
        padding-left: 10%;
    }
}

@media(max-width : 780px) {

    .welcome-body1-header {
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: column;
    }


     .welcome-body1-content {
       margin-top: 5%;
    }
}