.contact-container {
    width: 100%;
    height: auto;
    background-color: rgb(241, 237, 237);
}

.container-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 30vw;
    background: url('../../assets/blog9.jpg');
    background-position: center;
    background-size: cover;
}


.container-header-overlay {
    width: 100%;
    height: 30vw;
    background-color: rgba(0, 0, 0, 0.671);
}

.container-header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
}

.container-header-content h1 {
    font-size: 3vw;
    color: white;
}

.container-header-content h2 {
    font-size: 2.4vw;
    color: rgba(255, 255, 255, 0.89);
    font-family: "Dancing Script", cursive;
}


.container-navigate {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    padding: 10px;
    width: 100%;
    background-color: rgb(230, 158, 5);
    box-shadow: 4px 2px 7px rgb(112, 111, 111);
    border-radius: 3px;
}

.container-navigate span {
    font-size: 0.9vw;
    cursor: pointer;
}

.container-navigate span:hover {
    color: rgb(224, 148, 5);
}


.address-holder {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25vw, 1fr));
    align-items: center;
    width: 82%;
    height: auto;
    margin-top: 10%;
    margin-inline: auto;
    padding-left: 2%;

}

.address-holder-content {
    width: 25vw;
    height: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding-top: 5%;

}

.address-holder-content:nth-child(2) {
    background-color: rgb(253, 193, 62);
}

.address-holder-content:hover {
    background-color: rgb(253, 193, 62);

}

.address-holder-content img {
    width: 6vw;
}

.address-holder-content h2 {
    font-size: 2vw;
    color: rgba(0, 0, 0, 0.863);

}

.address-holder-content span {
    font-size: 1vw;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.781);
}

.contact-info-container {
    width: 85%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10%;
    justify-content: space-between;
    margin-inline: auto;
    padding-bottom: 10%;
}

.contact-info-container-left {
    display: flex;
    flex-direction: column;
    width: 48%;
    height: auto;
    gap: 20px;
}


.contact-info-container-left h2{
    font-size: 1.7vw;
}

.contact-info-container-left span{
    font-size: 1vw;
}



.contact-info-container-right {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 48%;
    height: auto;
    gap: 20px;
}

.contact-info-container-right h2{
    font-size: 1.7vw;
}

.contact-info-container-right span{
    font-size: 1vw;
}

.form-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.input-name img {
    width: 1.4vw;
}

.input-name-comment img {
    width: 1.4vw;
}

.input-name input {
    width: 35vw;
    border: none;
    outline: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.726);
    height: 7vw;
    color: black;
    background: transparent;
}

::placeholder {
    color: rgb(107, 105, 105);
    font-size: 1vw;
    font-weight: 600;
}

.input-name-comment {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

}



.input-name-comment input {
    width: 35vw;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 2px solid rgba(0, 0, 0, 0.726);
    height: 15vw;


}

.contact-info-container-right button {
    width: 15vw;
    height: 4vw;
    background-color: rgb(235, 144, 41);
    ;
    color: white;
    font-size: 1vw;
    border: none;
    outline: none;
    font-weight: 600;
    cursor: pointer;

}

.contact-info-container-right button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(235, 144, 41);

}










/*.......... key frames.....*/


@media(max-width : 852px) {


    .container-header-content {
        padding-top: 40px;
    }
}

@media(max-width : 776px) {

    .contact-info-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        margin-left: 4%;
    }


    .contact-info-container-left {
    width: 90%;
    height: auto;
    gap: 20px;
}

    .contact-info-container-right {
    width: 90%;
    height: auto;
    gap: 20px;
}
}

@media(max-width : 527px) {


    .container-header-content {
        padding-top: 10px;
    }
}