.foodlist-container{
    width: 100%;
    height: auto;
    padding-top: 5%;
}


.product-title{
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.4vw;
    display: flex;
    margin-left: 7%;
}

.product-list-container{
    width: 85%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-inline: auto;
}

.product-table-title{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid #ddd;
    font-size: 1.2vw;
}


.product-row{
   display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
    gap: 10px;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid #ddd;
    font-size: 1.2vw;
}

.product-row p{
   font-size: 1.2vw;
}

.product-image{
   width: 5vw;
   height: auto;
}