.footer-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: rgb(58, 57, 57);
    color: white;

}

.footer-holder {
    width: 90%;
    height: 35vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 120px;
    padding-left: 7%;


}

.footer-content {
    display: flex;
    flex-direction: column;
    width: 20vw;
    gap: 40px;
}




.footer-logo {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.4rem;
}

.footer-logo img {
    width: 3.9vw;
    filter: opacity(0.5) drop-shadow(0 0 0 rgb(247, 156, 72)) drop-shadow(0 0 0 rgb(247, 156, 72)) saturate(1000%);
    margin-bottom: 10px;
}

.footer-logo span {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 2.4vw;
    font-weight: 600;
    font-style: italic;
    font-family: "Great Vibes", cursive;
    margin-top: 20px;
}

.footer-logo p {
    color: rgb(255, 123, 0);
    font-size: 2.2vw;
}

.footer-content-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-content-details h4 {
    font-size: 1.4vw;
    font-weight: 500;
    color: rgba(255, 253, 253, 0.925);
}

.footer-content-details h6 {
    font-size: 1.3vw;
    font-weight: 500;
    color: rgba(255, 253, 253, 0.897);

}

.footer-content-details span {
    font-size: 1.2vw;
    font-weight: 500;
    color: rgba(255, 253, 253, 0.897);

}

.footer-content-details p {
    font-size: 0.9vw;
    font-weight: 500;
    color: rgba(255, 253, 253, 0.788);

}

.footer-input-details {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer-content-link {
    display: flex;
    flex-direction: column;
    width: 20vw;
    gap: 20px;
    margin-top: 3%;
    align-items: center;
}

.footer-content-link ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-content-link ul li {
    list-style: none;
    font-size: 0.9vw;
    color: rgba(255, 255, 255, 0.856);
}

.footer-content-date {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 30vw;
    gap: 30px;
}

.datetime {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.datetime-details {
    display: flex;
    flex-direction: column;
}

.datetime span {
    font-size: 1.2vw;
}

.datetime p {
    font-size: 0.8vw;
    color: rgba(255, 255, 255, 0.918);
}

.date-image {
    font-size: 2vw;
}

.footer-input-details {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 100px;
}


.footer-input-details input {
    width: 20vw;
    height: 3vw;
    outline: none;
    border: 2px solid rgb(230, 146, 38);
    padding-left: 5px;
    color: rgb(148, 145, 145);
    margin-bottom: 10px;
}

::placeholder {
    color: rgb(238, 233, 233);
}

.footer-input button {
    width: 20vw;
    height: 4vw;
    font-size: 0.9vw;
    border: none;
    outline: none;
    background-color: orange;

}


.footer-app {
    cursor: pointer;
    color: rgb(230, 230, 230);
    font-size: 1.6vw;
}

.footer-app:hover {
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.footer-top-right {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.footer-socials-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.footer-socials-main img {
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    border: 1px solid white;
}

.footer-below {
    width: 100%;
    height: 8vw;
    background-color: rgb(228, 111, 3);
    align-items: center;
    text-align: center;
    padding-top: 20px;

}

.footer-below span {
    font-size: 1.5vw;

}


.footer-content-link h3 {
    font-size: 1.5vw;
    width: 100px;
    text-align: center;
}

.footer-content-date h3 {
    font-size: 1.5vw;
    width: 100px;
}

.footer-input-details h3 {
    font-size: 1.5vw;
    width: 100px;
}







/*.......... key frames.....*/


@media(max-width : 1000px) {

    .footer-holder {
        gap: 80px;
    }

    .footer-below {
        padding-top: 10px;
    }

    .footer-input-details {
        gap: 30px;
        margin-top: 70px;
    }
}

@media(max-width : 873px) {

    .footer-input-details {
        gap: 30px;
        margin-top: 30px;
    }

    .footer-content {
        gap: 10px;
    }

    .footer-holder {
        gap: 40px;
    }
}

@media(max-width : 700px) {

    .footer-input-details {
        gap: 10px;
        margin-top: 10px;
    }

    .footer-content {
        gap: 5px;
    }

    .footer-content-details {
        gap: 5px;
    }

    .footer-holder {
        gap: 30px;
    }
}

@media(max-width : 561px) {

    .footer-holder {
        gap: 10px;
    }

    .footer-top-right {
        gap: 5px;
    }


    .footer-content-date {
        align-items: center;
        width: 30vw;
        gap: 10px;

    }

    .footer-content-link ul {
        gap: 10px;
    }


    .footer-content-link {
        gap: 10px;
    }

}


@media(max-width : 561px) {
     .footer-holder {
        gap: 1px;
    }

        .footer-below {
        padding-top: 5px;
    }

}
