
.addfood-container{
    width: 70vw;
    height: auto;
    padding: 5% 10%;
}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.1rem;
    margin-inline: auto;
}

.form-label{
    margin-bottom: 0.5rem;
    font-size: 1.4vw;
   
}

.upload-image-container .image-preview{
    width: 8vw;
    cursor: pointer;
}

.form-group{
   width: 100%;
}


.form-input{
 width: 100%;
 max-width: 70vw;
 padding: 0.7rem;
 border: 1px solid rgb(66, 66, 66);
 border-radius: 4px;
}

.form-group-horizontal{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
}

.from-select{
    width: 100%;
    padding: 0.6rem;
    border: 1px solid rgb(65, 63, 63);
    font-size: 0.9vw;
}

.price-input{
    max-width: 12vw;
}

.submit-button{
    padding: 0.5rem 5rem;
    background-color: orange;
    border: none;
    cursor: pointer;
    margin-top: 1.5rem;

}

.form-group textarea{
    height: 10vw;
}