.popular-body-container{
    width: 100%;
    height: auto;
}


.popular-body-container-holder {
    width: 85%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minMax(17vw, 1fr));
    margin-top: 5%;
    row-gap: 90px;
    margin-inline: auto;
    padding-left: 5%;
    background-color: rgb(229, 220, 203);
    padding-top: 30px;
    padding-bottom: 30px;

}

.popular-body-topic {
    width: 100%;
    display: flex;
    text-align: center;
    text-align: center;
    justify-content: center;
    margin-top: 5%;
    padding-left: 5%;
}

.popular-body-topic h2 {
    font-size: 2.6vw;
}




.popular-main-image {
    width: 17vw;
    height: 13vw;
    object-fit: cover;

}

.popular-body-container-right-content-card-image {
    width: 17vw;
    height: 26vw;
    background-color: rgb(247, 209, 161);
    text-align: center;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    box-shadow: 2px 3px 4px rgba(85, 84, 84, 0.774);
}

.popular-body-container-right-content-card-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 45%;
    text-align: start;
    background-color: rgb(250, 235, 207);
    padding: 10px 20px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;

}

.popular-body-container-right-content-card-content h3 {
    font-size: 1vw;
}

.popular-body-container-right-content-card-content span {
    font-size: 0.8vw;
}

.popular-body-container-right-content-card-content p {
    font-size: 0.7vw;
    width: 20vw;
}

.popular-body-container-right-content-card-content button {
    width: 7vw;
    height: 2vw;
    border-radius: 22px;
    background-color: rgb(243, 132, 28);
    border: none;
    margin-top: 15px;
    margin-left: 100px;
    font-size: 0.8vw;
    transition: 0.3s;
    cursor: pointer;
}


.popular-body-container-right-content-card-content button:hover {
     background-color: rgb(218, 106, 2);
}

.star-holder{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 18px;
    justify-content: space-between;
}

.star-holder img{
   width: 4vw;
}

.star-holder .love-icon{
   width: 1vw;
}



.love-icon{
    color: white;
}

.executive-menu{
    width: 75%;
    height: 20vw;
    background-color: white;
    display: flex;
    flex-direction: row;
    margin-inline: auto;
    margin-top: 5%;
    margin-right: 18%;
}

.executive-menu-left{
    width: 60%;
    height: auto;
    padding: 20px 30px;
}

.executive-menu-left h4{
   font-size: 1.8vw;
}

.executive-menu-left h1{
   font-size: 3.4vw;
   width: 40vw;
   color: rgb(199, 121, 4);
}

.executive-menu-left span{
   font-size: 1vw;
   width: 40vw;
}

.executive-menu-right{
    width: 40%;
    height: 20vw;
}

.executive-menu-right img{
    width: 40vw;
    height: 20vw;
    object-fit: cover;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 6% 100%);
}