.navbar-container {
    width: 100%;
    height: 7vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(243, 237, 223);
    padding-left: 18%;
    padding-right: 5%;

}

.navbar-left {
    display: flex;
    flex-direction: row;
    margin-inline: auto;
}

.input-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.input-btn button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.5vw;
    width: 3.5vw;
    background-color: orange;
    border: none;
    outline: none;
    border-radius: 7px;
    margin-right: -10px;
}

.input-btn input {
    width: 25vw;
    height: 3.5vw;
    padding-left: 25px;
    border: none;
    background-color: rgba(255, 166, 0, 0.733);
    outline: none;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    color: white;

}

.input-btn input::placeholder {
    font-size: 1vw;
    color: white;
}

.navbar-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    margin-top: 3%;
}


.navbar-right-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.navbar-right-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;

}

.icon-pro {
    width: 1.9vw;
    background-color: rgba(255, 166, 0, 0.438);
    border-radius: 50%;
    padding-top: 2px;
}

.nav_pro_icon {
    display: flex;

}

.nav_pro_icon:hover {
    transform: rotate(180deg);

}

.nav-item-icon {
    font-size: 1.7vw;
}

.drop_down {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 19%;
    right: 4%;
    background-color: rgb(63, 61, 61);
    padding-bottom: 3%;
    padding-top: 2%;
    padding-left: 1%;
    padding-right: 1%;
    color: white;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;

}

.drop_down ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 3%;


}

.drop_down ul li {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    padding: 10px 10px;
    cursor: pointer;


}

.drop_down ul li:hover {
    background-color: rgba(255, 255, 255, 0.87);
    color: black;


}

.add-background {
    display: flex;
    background-color: rgb(63, 61, 61);
    width: 20px;
    height: 20px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    position: fixed;
    top: 16%;
    right: 4.8%;
    z-index: -1;
}

.dropdown-icon {
    font-size: 1.3vw;
}