@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
   font-family: "Outfit", sans-serif;
   scroll-behavior: smooth;
}

.body{
  width: 100%;
  overflow-x: hidden;
}


@keyframes appear{
  from{
    opacity: 0;
    scale: 0.5;
  }

  to{
    opacity: 1;
    scale: 1;
  }
}