@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.nav {
    width: 100%;
    height: auto;
}

.nav-top {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 40px;
    max-height: 80px;
    padding-inline: min(3rem, 6%);
    background-color: rgba(12, 4, 1, 0.568);
    color: white;
    padding: 20px;
}

.nav-top-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.2rem;
    color: rgba(255, 255, 255, 0.938);
}

.nav-top-left span {
    font-size: 0.8vw;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.nav-top-left span:hover {
    color: rgb(247, 172, 74);
}

.nav-top-left p {
    font-size: 0.8vw;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}


.nav-top-left p:hover {
    color: rgb(247, 172, 74);
}

.nav-top-middle {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.nav-top-middle input {
    background-color: rgba(255, 166, 0, 0.726);
    border: 1px solid rgba(255, 255, 255, 0.651);
    outline: none;
    color: rgb(255, 255, 255);
    width: 20vw;
    height: 1.8rem;
    border-radius: 22px;
    padding-left: 10px;
    position: relative;
}

.nav-top-middle input::placeholder {
    color: #ffffff8e;
    padding: 10px;
    font-size: 0.6rem;

}

.nav-top-search-icon {
    font-size: 1.4vw;
    margin-right: 10px;
    cursor: pointer;
    margin-bottom: 0.3px;
    position: absolute;
    right: 37%;
    color: rgb(243, 242, 242);
}

.nav-top-search-icon:hover {
    color: white;
}

.nav-top-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.2rem;
}

.nav-social {
    width: 1vw;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.842);
}

.nav-social:hover {
    cursor: pointer;
    color: rgba(255, 173, 106, 0.842);
}

.nav-bottom {
    width: 100%;
    min-height: 80px;
    max-height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-inline: min(5rem, 8%);
    background-color: rgb(240, 239, 239);
    box-shadow: 8px 2px 7px rgb(107, 106, 106);
}

.nav-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.4rem;
}

.nav-logo img {
    width: 2.5vw;
    filter: opacity(0.5) drop-shadow(0 0 0 rgb(247, 156, 72)) drop-shadow(0 0 0 rgb(247, 156, 72)) saturate(1000%);
    margin-bottom: 10px;
}

.nav-logo span {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.7vw;
    font-weight: 600;
    font-style: italic;
    font-family: "Great Vibes", cursive;
}

.nav-logo p {
    color: rgb(255, 123, 0);
    font-size: 1.4vw;
}

.nav-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2.8rem;
}

.nav-main li {
    text-decoration: none;
    font-size: 1.3vw;
    font-weight: 600;
    list-style: none;
    color: rgb(100, 98, 98);
    cursor: pointer;

}


a:-webkit-any-link {
    color: rgb(88, 87, 87);
    text-decoration: none;
}




.nav-main li:hover {
    color: rgb(214, 127, 14);

}

.nav-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4.8rem;

}

.nav-bottom-right-cart {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.nav-bottom-right-cart-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    border: none;
    outline: none;
    background-color: rgb(255, 150, 80);
    color: white;
    width: 8vw;
    height: 3vw;
}

.cart-item {
    font-size: 2.4vw;
    cursor: pointer;
    z-index: 999;
}

.cart-line {
    width: 1px;
    height: 2vw;
    border: none;
    outline: none;
    background-color: white;

}

.nav-right button {
    width: 8vw;
    height: 3vw;
    font-size: 1.2vw;
    border: none;
    outline: none;
    background-color: rgb(255, 150, 80);
    color: rgba(255, 255, 255, 0.952);
    font-weight: 600;
    cursor: pointer;

}

.nav-bottom-right button:hover {
    background-color: rgb(226, 105, 24);
    color: white;
}

.cart-btn{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3vw;
  position: relative;
  margin-left: -5%;

}

.cart-btn p{
  position: absolute;
  background-color: red;
  border-radius: 50%;
  color: white;
  padding: 0 0.2vw;
  font-size: 0.9vw;
  right: -5px;
  top: 0;
}

.nav-down-right span{
  font-size: 1.2vw;
  color: rgba(255, 255, 255, 0.897);
}

.cart-icon{
  display: flex;
  font-size: 2vw;
  font-weight: 800;
 color: rgba(36, 35, 35, 0.897);
 cursor: pointer;
 transition: 0.3s ease-in-out;

}

.cart-icon:hover{
 color: rgba(82, 54, 2, 0.897);

}



.item-counting {
    font-size: 1.3vw;
    font-family: "Inter", sans-serif;
}

.side-bar-icon {
    display: none;
}

.cross-nav{
    display: none;
}

.profile-dropdown{
    display: flex;
    flex-direction: column;
}

.profile-dropdown{
   display: flex;
   flex-direction: row;
   align-items: baseline;
   gap: 10px;
   position: relative;
   margin-top: 10px;
}

.adddropdown{
    width: 2vw;
    height: 2vw;
    background-color: rgb(241, 241, 241);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    position: absolute;
    top: -20px;
    right: 10px;
   
}

.profile-dropdown img{
    width: 2.8vw;
    height: 2.8vw;
    background-color:rgb(243, 139, 69);
    border-radius: 50%;
    padding-top: 5px;
    cursor: pointer;
}

.profile_icon{
    font-size: 1.4vw;
}

.dropdown_content{
    display: flex;
    position: absolute;
    top: 6vw;
    right: -7px;
    background-color: rgb(241, 241, 241);
    z-index: 2;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}


.dropdown_content ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
   padding-bottom: 20px;
   padding-left: 10px;
   padding-right: 10px;
    
    
}

.dropdown_content ul li{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 5px 5px;
       
}

.dropdown_content ul li:hover{
   background-color: rgba(58, 58, 58, 0.863);
   color: white;
   cursor: pointer;
       
}

.ul_icon{
    font-size: 1.4vw;
}







/*.......... key frames.....*/


@media(max-width : 1050px) {

    .nav-top-search-icon {
        margin-right: 20px;
    }

}


@media(max-width : 800px) {

    .nav-top-middle input::placeholder {
        font-size: 0.5rem;

    }


}

@media(max-width : 700px) {

    .nav-top-middle input::placeholder {
        font-size: 0.4rem;

    }


}

@media(max-width : 680px) {


    .nav-main {
        position: fixed;
        right: 0px;
        top: 0;
        width: 200px;
        padding-top: 70px;
        bottom: 0;
        background-color: rgba(34, 34, 33, 0.911);
        display: flex;
        flex-direction: column;
        z-index: 2;
        transition: 0.6s ease-in-out;
    }

    .nav-main li a {
        color: white;
        font-size: 0.7rem;
    }



    .side-bar-icon {
        display: block;
        cursor: pointer;

    }
    .cross-nav {
        display: block;
        cursor: pointer;
        color: white;
        font-size: 1.5rem;
        position: absolute;
        top: 20px;
        left: 20px;

    }


   
    .closed {
        right: -200px;

    }







}

@media(max-width : 600px) {

    .nav-top-middle input {
        display: none;

    }

    .nav-top-search-icon {
        display: none;
    }


}