.hero-container {
    width: 100%;
}

.hero-header {
    width: 100%;
    min-height: 90vh;
    background: url('../../assets/main_bg1.jpg') center/cover no-repeat;
    position: relative;
}

.hero-header-content-overlay {
    width: 100%;
    min-height: 90vh;
    background-color: rgba(0, 0, 0, 0.85);
}

.hero-header-content {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 20px;
    gap: 40px;
}


.header-content-left {
    flex: 1;
}

.header-content-left h2 {
    font-size: 2.5rem;
    color: white;
    line-height: 1.3;
}

.header-content-left span {
    color: rgb(245, 123, 42);
}

.header-content-left p {
    color: white;
    font-size: 1rem;
    margin-top: 20px;
    max-width: 500px;
}

.header-content-left button {
    margin-top: 30px;
    padding: 15px 35px;
    font-size: 1rem;
    background-color: rgb(245, 123, 42);
    border: none;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}

.header-content-left button:hover {
    background-color: rgb(199, 89, 15);
}


.header-content-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.slider-container {
    width: 100%;
    max-width: 400px;
}


.food-hero img {
    width: 100%;
    max-width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 50%;
    border: 10px solid rgb(226, 122, 4);
}


@media (max-width: 992px) {
    .hero-header-content {
        flex-direction: column;
        text-align: center;
    }

    .header-content-left p {
        margin: auto;
    }

    .header-content-right {
        margin-top: 40px;
    }
}

@media (max-width: 576px) {

    .header-content-left h2 {
        font-size: 1.8rem;
    }

    .header-content-left p {
        font-size: 0.9rem;
    }

    .food-hero img {
        height: 250px;
        max-width: 250px;
        margin-left: 5rem;
    }

}